# 忽略数据集文件夹
Finetuning/advCheX_old_test/
Finetuning/advCheX_test/
Finetuning/advCheX_test_7_2_1/
Finetuning/dataset/advCheX _7_2_1/
dataset/advCheX_7_2_1/


# 忽略模型文件夹和文件
Finetuning/Models/
Finetuning/Ark6_swinLarge768_ep50.pth.tar
Finetuning/advCheX_kf/train
Finetuning/advCheX_kf/test

#忽略之前模型输出的结果文件
Finetuning/Outputs/Classification/advCheX/

# 忽略其他临时文件
*.log
*.pth
*.sh
__pycache__/
